.sand-box-laptop {
    border-radius: 8px;
    display: flex;
    max-width: 75vw;
    margin: 10px auto;
    flex-direction: column;
}

.sand-box-mobile {
    border-radius: 8px;
    display: flex;
    max-width: 95vw;
    margin: 10px auto;
    flex-direction: column;
}

.sand-box-header-image {
    background-size: cover;
}
