<mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav [attr.role]="'region'"
                 [mode]="'over'"
                 [opened]="menu"
                 [autoFocus]="false"
                 [disableClose]="true"
                 class="sidenav"
                 fixedInViewport>
        <mat-nav-list class="nav-list">
            <div class="nav-list-top">
                <button mat-button (click)=closeMenu()>
                    <mat-icon>highlight_off</mat-icon>
                </button>
                <app-account *ngIf="(isMobile$ | async)"></app-account>
            </div>
            <a routerLink="sandbox" mat-list-item>{{ 'ECRAN.TAB.DROPZONE' | translate }}</a>
            <a routerLink="sandbox" mat-list-item>{{ 'ECRAN.TAB.DROPZONE' | translate }}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="toolbar">
            <div class="flex">
                <mat-toolbar-row class="toolbar-row">
                    <button
                            (click)="openMenu()"
                            *ngIf="isMobile$ | async"
                            aria-label="Toggle sidenav"
                            mat-icon-button
                            type="button">
                        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                    </button>


                    <div *ngIf="(isMobile$ | async) === false">
                        <span class="title-laptop">{{ 'ECRAN.TITRE' | translate }}</span>
                    </div>
                    <div class="title-mobile" *ngIf="(isMobile$ | async)">
                        <span class="title-mobile-ligne">{{ 'ECRAN.ANGULAR' | translate }}</span>
                        <span class="title-mobile-ligne">{{ 'ECRAN.SANDBOX' | translate }}</span>
                    </div>

                    <div *ngIf="(isMobile$ | async) === false" class="menu-center">
                        <a class="button" routerLink="sandbox" mat-button>{{ 'ECRAN.TAB.DROPZONE' | translate }}</a>
                        <a class="button" routerLink="sandbox" mat-button>{{ 'ECRAN.TAB.DROPZONE' | translate }}</a>
                    </div>

                    <div>
                        <app-admin-action *ngIf="!isProd"></app-admin-action>
                    </div>
                </mat-toolbar-row>
            </div>
        </mat-toolbar>
        <div class="router">
            <router-outlet></router-outlet>
        </div>
        <!-- Add Content Here -->
        <span class="credit" fxLayoutAlign="center" fxLayout="space-between center">© Made by Frédéric Lepault</span>
    </mat-sidenav-content>
</mat-sidenav-container>
<ngx-spinner [name]="'spinner'" color="#fdacb4" type="ball-clip-rotate-pulse"></ngx-spinner>